{{!-- gallery page --}}
<div id="TopBox">
	<div id="tBox-background2">
	    <div id="tBox2">
		    <ol>
		        <li><a href="/"><img src="/public/sketch/00_5.png" id="back"></a></li><!-- background chip image -->
		    </ol>
	    </div>
    </div>


</div>

<div id="LeftBox">
	<div id="box1">
		<div id="imageWrapper2">
                <img src="/public/sketch/02_1.png">
               	<img src="/public/sketch/02_2.png">
                <img src="/public/sketch/02_3.png">
               	<img src="/public/sketch/02_4_1.png">
               	<img src="/public/sketch/02_5.png">
                <img src="/public/sketch/02_6.png">
            </div>
	</div>
	<div id="box2">
		<div id="colorBox2">
				<img src="/public/sketch/05_1.png">
				<img src="/public/sketch/05_2.png">
				<img src="/public/sketch/05_3.png">
				<img src="/public/sketch/05_4.png">
				<img src="/public/sketch/05_5.png">

				<img src="/public/sketch/05_6.png">
				<img src="/public/sketch/05_7.png">
				<img src="/public/sketch/05_8.png">
				<img src="/public/sketch/05_9.png">
				<img src="/public/sketch/05_10.png">

				<img src="/public/sketch/05_11.png">
				<img src="/public/sketch/05_12.png">
				<img src="/public/sketch/05_13.png">
				<img src="/public/sketch/05_14.png">
				<img src="/public/sketch/05_15.png">

				<img src="/public/sketch/05_16.png">
				<img src="/public/sketch/05_17.png">
				<img src="/public/sketch/05_18.png">
				<img src="/public/sketch/05_19.png">
				<img src="/public/sketch/05_20.png">
		</div>
	</div>
</div>

<div id="RightBox">
	<div id="favBoxOutside">
		{{#each infoData}}
			<div id="favBox">
					<img class='galleryImages' src={{imageData}}> <br>
					<div id="favTextBox">{{title}}</div><br>
					{{!-- {{name}}<br> --}}
					{{!-- {{address}} --}}
					<div id="rightMargin"></div>	
			</div>
		{{/each}}
	</div>
</div>